@model MusicPortal_Asp.Net_MVC_.BLL.DTO.SongDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Admin")" class="nav-link active"><i class="bi bi-house-door"></i> Home</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("NoActiveUsers", "Admin")" class="nav-link"><i class="bi bi-person-x"></i> No active users</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexGenres", "Admin")" class="nav-link"><i class="bi bi-tags"></i> Genres</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexArtists", "Admin")" class="nav-link"><i class="bi bi-person-badge"></i> Artists</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexUsers", "Admin")" class="nav-link"><i class="bi bi-people"></i> Users</a>
        </li>

    </ul>


    <div class="tab-content">
        <div class="container">
        <form asp-action="CreateSong" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artist" class="form-label text-muted">Artist</label>
                <select asp-for="ArtistId" class ="form-control" asp-items="ViewBag.ArtistId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="form-label text-muted">Genre</label>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PathS" class="control-label"></label>
                <input type="file" name="uploadedFileS" class="form-control rounded-3" />
                <span asp-validation-for="PathS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathV" class="control-label"></label>
                <input type="file" name="uploadedFileV" class="form-control rounded-3" />
                <span asp-validation-for="PathV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathP" class="control-label"></label>
                <input type="file" name="uploadedFileP" class="form-control rounded-3" />
                <span asp-validation-for="PathP" class="text-danger"></span>
            </div>


            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-theme" />
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
