@model MusicPortal_Asp.Net_MVC_.Models.Song

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex">

    <div class="sidebar">
        <div class="sidebar-header">
            <h4><i class="bi bi-music-note-beamed"></i> Music Portal</h4>
        </div>
        <ul class="sidebar-menu">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="bi bi-house-door"></i> Home</a>
            </li>
            <li>
                <a href="@Url.Action("NoActiveUsers", "Admin")"><i class="bi bi-person-x"></i> No active users</a>
            </li>
            <li>
                <a href="@Url.Action("IndexGenres", "Admin")"><i class="bi bi-tags"></i> Genres</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Admin")"><i class="bi bi-music-note-list"></i> Songs</a>
            </li>
            <li>
                <a href="@Url.Action("IndexArtists", "Admin")"><i class="bi bi-person-badge"></i> Artists</a>
            </li>
            <li>
                <a href="@Url.Action("IndexUsers", "Admin")"><i class="bi bi-people"></i> Users</a>
            </li>
        </ul>
    </div>


    <div class="main-content flex-grow-1">
        <div class="container">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
    
    <form asp-action="DeleteSong">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        
    </form>
</div>
</div>
</div>
