@model MusicPortal_Asp.Net_MVC_.Models.Artist

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Admin")" class="nav-link active"><i class="bi bi-house-door"></i> Home</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("NoActiveUsers", "Admin")" class="nav-link"><i class="bi bi-person-x"></i> No active users</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexGenres", "Admin")" class="nav-link"><i class="bi bi-tags"></i> Genres</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexArtists", "Admin")" class="nav-link"><i class="bi bi-person-badge"></i> Artists</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexUsers", "Admin")" class="nav-link"><i class="bi bi-people"></i> Users</a>
        </li>

    </ul>


    <div class="tab-content">
        <div class="container">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
            <a asp-action="EditArtist" asp-route-id="@Model?.Id" class="btn-outline-theme">Edit</a>
        </div>
</div>
</div>