@model MusicPortal_Asp.Net_MVC_.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex">

    <div class="sidebar">
        <div class="sidebar-header">
            <h4><i class="bi bi-music-note-beamed"></i> Music Portal</h4>
        </div>
        <ul class="sidebar-menu">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="bi bi-house-door"></i> Home</a>
            </li>
            <li>
                <a href="@Url.Action("NoActiveUsers", "Admin")"><i class="bi bi-person-x"></i> No active users</a>
            </li>
            <li>
                <a href="@Url.Action("IndexGenres", "Admin")"><i class="bi bi-tags"></i> Genres</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Admin")"><i class="bi bi-music-note-list"></i> Songs</a>
            </li>
            <li>
                <a href="@Url.Action("IndexArtists", "Admin")"><i class="bi bi-person-badge"></i> Artists</a>
            </li>
            <li>
                <a href="@Url.Action("IndexUsers", "Admin")"><i class="bi bi-people"></i> Users</a>
            </li>
        </ul>
    </div>


    <div class="main-content flex-grow-1">
        <div class="container">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salt" class="control-label"></label>
                <input asp-for="Salt" class="form-control" />
                <span asp-validation-for="Salt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
