@model MusicPortal_Asp.Net_MVC_.BLL.DTO.SongDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Admin")" class="nav-link active"><i class="bi bi-house-door"></i> Home</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("NoActiveUsers", "Admin")" class="nav-link"><i class="bi bi-person-x"></i> No active users</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexGenres", "Admin")" class="nav-link"><i class="bi bi-tags"></i> Genres</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexArtists", "Admin")" class="nav-link"><i class="bi bi-person-badge"></i> Artists</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexUsers", "Admin")" class="nav-link"><i class="bi bi-people"></i> Users</a>
        </li>

    </ul>


    <div class="tab-content container">
        <div class="form-container">
            <h2 class="text-center mb-4">Edit Song</h2>
        <form asp-action="EditSong">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
                <div class="mb-3">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
                <div class="mb-3">
                <label asp-for="Artist" class="form-label ">Artist</label>
                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>

                <div class="mb-3">
                <label asp-for="Genre" class="form-label ">Genre</label>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
                <div class="mb-3">
                <label asp-for="PathS" class="control-label"></label>
                <input asp-for="PathS" class="form-control" />
                <span asp-validation-for="PathS" class="text-danger"></span>
            </div>
                <div class="mb-3">
                <label asp-for="PathV" class="control-label"></label>
                <input asp-for="PathV" class="form-control" />
                <span asp-validation-for="PathV" class="text-danger"></span>
            </div>
                <div class="mb-3">
                <label asp-for="PathP" class="control-label"></label>
                <input asp-for="PathP" class="form-control" />
                <span asp-validation-for="PathP" class="text-danger"></span>
            </div>
                <div class="mb-3">
                    <input type="submit" value="Save" class="btn btn-theme px-4" />
            </div>
        </form>
    </div>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
