@model IEnumerable<MusicPortal_Asp.Net_MVC_.BLL.DTO.ArtistDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div>

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Admin")" class="nav-link "><i class="bi bi-house-door"></i> Home</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("NoActiveUsers", "Admin")" class="nav-link"><i class="bi bi-person-x"></i> No active users</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexGenres", "Admin")" class="nav-link"><i class="bi bi-tags"></i> Genres</a>
        </li>
     
        <li class="nav-item">
            <a href="@Url.Action("IndexArtists", "Admin")" class="nav-link active"><i class="bi bi-person-badge"></i> Artists</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexUsers", "Admin")" class="nav-link"><i class="bi bi-people"></i> Users</a>
        </li>

    </ul>



    <div class="tab-content flex-grow-1">
        <div class="container">
            <p>
                <a asp-action="CreateArtist" class="btn btn-theme btn-sm">
                    <i class="bi bi-plus-circle"></i> Create New Artist
                </a>
            </p>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>
                                    <div class="d-flex gap-1">
                                        <a asp-action="EditArtist" asp-route-id="@item.Id" class="btn btn-outline-theme btn-sm">
                                            <i class="bi bi-pencil-square"></i> 
                                        </a>
                                        <a asp-action="DetailsArtist" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">
                                            <i class="bi bi-info-circle"></i> 
                                        </a>
                                        <a asp-action="DeleteArtist" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                            <i class="bi bi-trash"></i> 
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>