@model IEnumerable<MusicPortal_Asp.Net_MVC_.BLL.DTO.UserDTO>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



 <div >

    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Admin")" class="nav-link"><i class="bi bi-house-door"></i> Home</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("NoActiveUsers", "Admin")" class="nav-link"><i class="bi bi-person-x"></i> No active users</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexGenres", "Admin")" class="nav-link"><i class="bi bi-tags"></i> Genres</a>
        </li>
        
        <li class="nav-item">
            <a href="@Url.Action("IndexArtists", "Admin")" class="nav-link"><i class="bi bi-person-badge"></i> Artists</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("IndexUsers", "Admin")" class="nav-link active"><i class="bi bi-people"></i> Users</a>
        </li>
       
    </ul>


    <div class="tab-content flex-grow-1 ">
        <div class="container">
            <p>
                <a asp-action="CreateUser" class="btn btn-theme btn-sm">
                    <i class="bi bi-plus-circle"></i> Create New User
                </a>
            </p>

            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Login</td>
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>@(item.IsActive ? "Active" : "Inactive")</td>
                        <td>
                            @if (item.IsActive)
                            {
                                    <a href="@Url.Action("ChangeActiveStatusUser", "Admin", new { id = item.Id })" class="btn btn-warning  btn-sm"> <i class="bi bi-toggle-off"></i>Deactivate</a>
                            }
                            else
                            {
                                    <a href="@Url.Action("ChangeActiveStatusUser", "Admin", new { id = item.Id })" class="btn btn-success  btn-sm"><i class="bi bi-toggle-on"></i> Activate</a>
                            }
                        </td>
                        <td>
                                <div class="d-flex gap-1">
                                    <a asp-action="EditUser" asp-route-id="@item.Id" class="btn btn-outline-theme btn-sm">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a asp-action="DetailsUser" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">
                                        <i class="bi bi-info-circle"></i>
                                    </a>
                                    <a asp-action="DeleteUser" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>