@model IEnumerable<MusicPortal_Asp.Net_MVC_.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex">

    <div class="sidebar">
        <div class="sidebar-header">
            <h4><i class="bi bi-music-note-beamed"></i> Music Portal</h4>
        </div>
        <ul class="sidebar-menu">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="bi bi-house-door"></i> Home</a>
            </li>
            <li>
                <a href="@Url.Action("NoActiveUsers", "Admin")"><i class="bi bi-person-x"></i> No active users</a>
            </li>
            <li>
                <a href="@Url.Action("IndexGenres", "Admin")"><i class="bi bi-tags"></i> Genres</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Admin")"><i class="bi bi-music-note-list"></i> Songs</a>
            </li>
            <li>
                <a href="@Url.Action("IndexArtists", "Admin")"><i class="bi bi-person-badge"></i> Artists</a>
            </li>
            <li>
                <a href="@Url.Action("IndexUsers", "Admin")"><i class="bi bi-people"></i> Users</a>
            </li>
        </ul>
    </div>


    <div class="main-content flex-grow-1">
        <div class="container">
            <p>
                <a asp-action="CreateUser">Create New User</a>
            </p>
            <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Login</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Login</td>
                        <td>@(user.IsActive ? "Active" : "Inactive")</td>
                        <td>
                            <a href="@Url.Action("ChangeActiveStatusUser", "Admin", new { id = user.Id })" class="btn btn-success">Activate</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>